.panel-default > .panel-heading-custom {
    background: #000000; color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.jumbotron {
        background-image: url("https://images.pexels.com/photos/51951/forest-fire-fire-smoke-conservation-51951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-size: 100%;
    text-align: center;  
}

.jumbotron > h1 {
    text-shadow: 1px 1px 2px black;
}
